.test_con{
	padding: 0;
}
.choose2_text{
    padding-left: 0.9375rem;
}
.question-repeat .record_icon{
	width: 0.72rem;
	height: 0.53rem;
	background-size: contain;
}
.error.choose1_input{
	background-image: url(../images/error1.png);
}
.errorB.choose1{
	border: 0.125rem solid #f86666;
    background-color: #f86666;
}
.right.choose1_input{
	background-image: url(../images/right1.png);
}
.rightB.choose1{
    border: 0.125rem solid #43cb75;
    background-color: #43cb75;
}
.choose1_input {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.25rem;
    height: 0.65625rem;
    text-align: center;
    line-height: 0.75rem;
    background-image: url(../images/choose1_n.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-indent: 0.15625rem;
}
.question1_title.error{
	color: #e65151;
}
.audio_con{
    margin-bottom: 0.53rem;
}
.content_choose{
    position: relative;
}
.border_b_div:after{
    content: '';
    display: block;
    width: 100%;
    width: calc(100% - 1.2rem);
    width: -ms-calc(100% - 1.2rem);
    width: -moz-calc(100% - 1.2rem);
    width: -o-calc(100% - 1.2rem);
    width: -webkit-calc(100% - 1.2rem);
    height: 0.03125rem;
    background-color: #e6e6e6;
    position: relative;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.namestyle{
    color: #979797;
    /* font-style: italic; */
}
/* 失分音素相关代码 */
.mt60{
    margin-top: .8rem;
}
.word-analysis {
	padding: 0 .667rem .267rem;
}
.flex-wrapper{
    display: flex;
	align-items: center;
	justify-content: flex-start;
}
.word-analysis .title-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .427rem;
	font-weight: bold;
	position: relative;
	padding-left: .32rem;
	margin-bottom: .267rem;
}
.word-analysis .title-wrapper .show-more{
    font-size: .373rem;
    font-weight: initial;
    color: #909399;
    cursor: pointer;
}
.icon-question{
	width: .667rem;
    height: .667rem;
    background-image: url(../images/detail-help.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: .373rem;
	cursor: pointer;
}
.word-analysis .title-wrapper::before{
	display: block;
	content: '';
	width: .08rem;
	height: .373rem;
	background-color: #368FFF;
	border-radius: .027rem;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.187rem;
}
.word-analysis .dwd-desc-text{
	font-size: .373rem;
	color: #979797;
	line-height: .587rem;
	margin-bottom: .267rem;
}
.color-blue{
	color: #368FFF;
}
.word-analysis .speed-status {
	display: inline-block;
	border: 1px solid #368FFF;
	color:#368FFF;
	border-radius: .053rem;
	font-size: .32rem;
	line-height: .32rem;
	padding: .107rem;
}
.word-analysis .speed-status.warning{
	border: 1px solid #FF9000;
	color:#FF9000;
}
.word-analysis .dwd-score{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: .373rem;
	padding-bottom: .373rem;
	margin-bottom: .8rem;
	background-color: #fafafa;
	border-radius: .107rem;
}
.word-analysis .dwd-score .dwd-item{
	width: 2.187rem;
	text-align: center;
	position: relative;
	flex: 1;
}
.word-analysis .dwd-score .dwd-item:not(:last-child)::after{
	content: '';
	display: block;
	width: .027rem;
	height: 1.173rem;
	background-color: #E6E6E6;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -0.587rem;
}
.word-analysis .dwd-score .dwd-item .text{
	font-size: .373rem;
	color: #979797;
	line-height: .587rem;
	margin-bottom: .053rem;
}
.word-analysis .dwd-score .dwd-item .data{
	font-size: .48rem;
	line-height: .747rem;
	color: #3C3C3C;
}
.word-analysis .words-scroll-content{
    max-height: 3.84rem;
    overflow: hidden;
    transition: all 0.3s linear;
}
.word-analysis .words-scroll-content.visiable{
    max-height: initial;
}
.word-analysis .words-wrapper{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.word-analysis .words-wrapper .phoneme-item,
.word-analysis .words-wrapper .word-item{
	min-width: 1.12rem;
	padding: .32rem;
	font-size: .427rem;
	color: #262626;
	line-height: .427rem;
	border-radius: .213rem;
	text-align: center;
	background-color: #F2F5FB;
	margin-right: .267rem;
	margin-bottom: .32rem;
	cursor: pointer;
}
.word-analysis .words-wrapper .phoneme-item.active,
.word-analysis .words-wrapper .word-item.active{
	background-color: #E1EEFF;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.40);
	top: 0;
	left: 0;
}
.modal{
	width: 7.227rem;
	background-color: #fff;
	border-radius: .32rem;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -3.613rem;
	transform: translateY(-50%);
	padding-top: .427rem;
	color: #262626;
}
.modal .modal-title{
	font-weight: bold;
	font-size: .48rem;
	line-height: .48rem;
	text-align: center;
	padding: 0 0.4rem;
	text-align: center
}
.modal .modal-content{
	font-size: .373rem;
	padding: .533rem 0.4rem;
	max-height: 5.65rem;
	overflow-y: auto;
}
.modal .modal-btn-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.013rem solid #E8EBF3;
	font-size: .427rem;
	color: #909399
}
.modal .modal-btn-wrapper .btn-item{
	padding: .427rem 0;
	text-align: center;
	cursor: pointer;
	flex: 1;
}
.modal .modal-btn-wrapper .btn-item:not(:last-child){
	border-right: 0.013rem solid  #E8EBF3;
}
.isDwdContainer .audio_con{
    display: flex;
}
.audio_con > button{
	display: flex;
    justify-content: center;
    align-items: center;
	outline: none;
	background-color: #fff!important;
	width: 2.933rem;
	height: .96rem;
	line-height:0.96rem;
	border: 0.04rem solid #D6DFF2!important;
	color: #368FFF!important;
	font-size: .373rem;
	border-radius: 1.12rem;
	cursor: pointer;
    padding: 0;
    text-align: initial;
	cursor: pointer;
}
.audio_con .record_icon{
    position: inherit;
    top: initial;
    left: initial;
    margin-right: .187rem;
}
.audio_con .my_record{
    margin-left: .427rem;
}
.audio_con .stander_record.playing,
.audio_con .my_record.playing{
    background-color:#368FFF!important;
    color: #fff!important;
    border-color: #368FFF;
}

.pop-word{
	cursor: pointer;
}
.pop-word.active{
	background-color: #E1EEFF;
}
.new-result-con{
	display: none;
}
.new-result-con .score-data{
	font-size: .587rem;
	margin-left: .347rem;
}
.pb20{
	margin-bottom: .267rem;
}

.word-analysis .analysis-item:not(:first-child) {
	margin-top: .8rem;
}